div
    div.field-marker-beforeHTML
    div.field-marker-HTML
    div.field-marker-afterHTML
    mgr-validation(
    form="formBuilderFieldCtrl.form"
    field="formBuilderFieldCtrl.form[formBuilderFieldCtrl.field.name]"
    validators="formBuilderFieldCtrl.field.validators"
    )